/* Main CSS - Imports all styles */

/* Foundation */
@import url('variables.css');
@import url('base.css');
@import url('typography.css');
@import url('utilities.css');

/* Components */
@import url('components/header.css');
@import url('components/home.css');
@import url('components/about.css');
@import url('components/research.css');
@import url('components/news.css');
@import url('components/gallery.css');
@import url('components/footer.css');
@import url('components/theme-toggle.css');
