/* Typography */
h1 {
    font-size: 1.4rem;
    margin-bottom: 20px;
}

p {
    margin-bottom: 15px;
    line-height: 1.6;
    font-size: 1.1rem;
}

@media (max-width: 768px) {
    h1 {
        font-size: 0.9rem;
        margin-bottom: 6px;
    }

    p {
        font-size: 0.7rem;
        margin-bottom: 8px;
    }
}
